[net]
batch=32
subdivisions=8
width=416
height=416
channels=3
momentum=0.9
decay=0.0007
angle=0
saturation=1.0
exposure=1.0
hue=0.0
learning_rate=0.001
burn_in=500
max_batches=6000
policy=steps
steps=4800,5400
scales=.1,.1
multi_scale=0
letter_box=1

########################################
# 0-28: Backbone layers 1–29 from yolov4-tiny
########################################
[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1,-2

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1,-2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1,-2

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

########################################
# 29: conv 256×1  
########################################
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

########################################
# First detection head (large objects)
########################################
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=21        # (2 classes + 5) * 3
activation=linear

[yolo]
mask=3,4,5        # largest 3 anchors on 13×13 grid
anchors=23,18,37,28,55,42,38,68,79,60,98,98
classes=2
num=6
jitter=0.0
random=0
label_smooth_eps=0.05
iou_loss=ciou
ignore_thresh=0.7
truth_thresh=1
scale_x_y=1.0
nms_kind=greedynms
beta_nms=0.6

########################################
# Second detection head (small/medium)
########################################
[route]
layers=-4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers=-1,23

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=21
activation=linear

[yolo]
mask=0,1,2        # smallest 3 anchors on 26×26 grid
anchors=23,18,37,28,55,42,38,68,79,60,98,98
classes=2
num=6
jitter=0.0
random=0
label_smooth_eps=0.05
iou_loss=ciou
ignore_thresh=0.7
truth_thresh=1
scale_x_y=1.0
nms_kind=greedynms
beta_nms=0.6
